.container {
  max-width: var(--max-width);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 32px 0 32px;
}

.container-2 {
  max-width: calc(200px + var(--max-width));
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 32px 0 32px;
}

.link {
  color: var(--p1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  margin-bottom: var(--space-080);
  display: inline-block;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--p1);
  position: absolute;
}

.button {
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: var(--space-016) var(--space-032);
  display: inline-block;
  font: var(--font-1-m-b);
  color: var(--p5);
  text-transform: uppercase;
  margin-bottom: var(--space-120);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.button.seta {
  display: flex;
  align-items: center;
}

.button.seta::after {
  content: "";
  background-image: url(../../img/icones/seta.svg);
  display: block;
  width: 18px;
  height: 10px;
  margin-left: 16px;
}

.button.seta:hover:after {
  transform: translateX(4px);
  transition: 0.2s;
}

.button:hover {
  background: linear-gradient(#cc9900, #c28509);
}

.button.desativado:hover,
.button.desativado {
  background: var(--c4);
  color: var(--c11);
}

.button2 {
  background: var(--c10);
  padding: var(--space-016) var(--space-032);
  display: inline-block;
  font: var(--font-1-m-b);
  color: var(--c4);
  text-transform: uppercase;
  margin-bottom: var(--space-120);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.button2:hover {
  background: var(--c9);
}

.titulo-bg {
  background-color: var(--c11);
}

.titulo {
  padding-top: 64px;
  padding-bottom: 64px;
}
