body,
h1,
h2,
p,
ul,
li,
a,
blockquote {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Vollkorn", serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header "
    "sidenav content advert "
    "footer footer footer ";
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-columns: minmax(150px, 1fr) 3fr;
    grid-template-areas:
      "header header header "
      "sidenav content content "
      "sidenav advert advert "
      "footer footer footer ";
  }
}

@media (max-width: 700px) {
  .estrutura {
    grid-template-columns: 1fr;

    grid-template-areas:
      "header header header "
      "sidenav sidenav sidenav "
      "content content content "
      "advert advert advert "
      "footer footer footer ";
  }
}

/* CABEÇALHO */

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8b49ef, #ae7afa);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 30px;
  align-items: center;
  gap: 30px;
}

.header div > a {
  display: block;
  max-width: 200px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header li a {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;
  color: white;
  display: block;
}

@media (max-width: 700px) {
  .header img {
    width: 100%; /* ou o tamanho que quiser */
  }

  .header {
    grid-template-columns: 1fr;
    justify-items: center; /* centraliza logo E menu dentro das células */
  }

  .header li a {
    font-size: 1rem;
  }

  .header ul {
    gap: 10px;
  }
}

/* Navegaçäo  */

.sidenav {
  grid-area: sidenav;
  background-color: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 30px;
  min-width: 60px;
  max-width: 140px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background-color: #ae7afa;
}

@keyframes mover {
  from {
    right: 0;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 700px) {
  .sidenav ul {
    display: flex;
    gap: 15px;
    min-width: max-content;
  }

  .sidenav li {
    flex: 1 0 60px;
  }

  .sidenav li a {
    margin-bottom: 0px;
    padding: 10px;
  }

  .sidenav {
    overflow-x: auto;
    position: relative;
  }

  .sidenav::after {
    content: "➔";
    color: rgba(44, 44, 44, 0.15);
    position: absolute;
    top: 0;
    right: 30px;
    animation: mover 0.5s infinite alternate;
  }
}

/* Content */

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 30px;
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
  }

  .content .legenda {
    justify-self: center;
  }
}

.col-2 {
  grid-column: 1 / -1;
}

.row-2 {
  grid-row: span 2;
}

.titulo {
  color: #ae7afa;
  font-size: 60px;
  line-height: 1;
}

.subtitulo {
  color: #ae7afa;
  font-family: 14px;
  font-style: italic;
}

.caracteristicas {
  display: flex;
  gap: 30px;
}

.caracteristicas > div {
  display: grid;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  align-self: flex-start;
}

.caracteristicas .numero {
  background: linear-gradient(135deg, #8b49ef, #ae7afa);
  padding: 10px 20px;
  border-radius: 5px 5px 0px 0px;
  color: #ae7afa;
  font-size: 48px;
  line-height: 1;
}

.caracteristicas .tipo {
  background-color: white;
  display: block;
  color: #ae7afa;
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}

.desc {
  font-size: 20px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.7);
}

.content img {
  width: 100%;
  align-self: flex-end;
}

.content .legenda {
  color: #ae7afa;
  max-width: 30ch;
  font-size: 14px;
  line-height: 1.6;
}

.blockquote {
  background: linear-gradient(135deg, #8b49ef, #ae7afa);
  color: white;
  padding: 30px;
  font-size: 24px;
  border-radius: 5px;
}

.blockquote p {
  text-align: center;
  max-width: 35ch;
  margin: 0 auto;
  font-style: italic;
}

.historia {
  background: linear-gradient(135deg, #8b49ef, #ae7afa);
  color: white;
  font-size: 18px;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  align-self: flex-start;
}

.historia li {
  padding: 15px;
}

.historia li + li {
  border-top: #ae7afa solid 2px;
}

.historia li:last-of-type::after {
  display: none;
}

/* Advert */
.advert {
  grid-area: advert;
  background-color: #fafbfc;
  padding: 30px;
  display: grid;
  align-content: flex-start;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 auto;
}

/* Footer */
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8b49ef, #ae7afa);
  padding: 30px;
  color: white;
  text-align: center;
  font-size: 20px;
}
