.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 120px;
}

.depoimento-texto {
  font-family: "Merriweather Sans", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.25rem;
  line-height: 1.33;
  color: var(--p5);
  margin-bottom: 32px;
  max-width: 23ch;
  position: relative;
}

.depoimento-conteudo {
  padding-left: 80px;
}

.depoimento span {
  margin-bottom: 80px;
  display: inline-block;
}

.depoimento-texto::before,
.depoimento-texto::after {
  color: var(--p2);
  font-size: 4rem;
  position: absolute;
}

.depoimento-texto::before {
  content: "“";
  left: -40px;
  top: -20px;
}

.depoimento-texto::after {
  content: "”";
  top: 180px;
}

.depoimento-bg {
  background-color: var(--p1); /* Cor de fundo */
  background-image: url(../img/dec/bottom-right-p.svg),
    url(../img/dec/top-left-p.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 40px right 40px, top 40px left 40px;
  display: grid;
  align-items: end;
}

@media (min-width: 1200px) {
  .depoimento img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
  }
}
