.main {
  background-color: var(--c12);
  box-shadow: inset 0 -120px white;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-080);
}

.main-conteudo {

  align-self: center;


}

.main h1 {
  margin-bottom: var(--space-032);
}
.main-texto {
  font: var(--font-2-l);
  margin-bottom: var(--space-020);
}


