#orcamento {
  background: linear-gradient(var(--c11) 35%, var(--c1) 0);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  text-transform: uppercase;
  letter-spacing: 1.5%;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  width: 4px;
  height: 8px;
  background-color: var(--p1);
  position: absolute;
  left: -8px;
}

/* Orçamento Produto */

.orcamento-produto {
  background-color: var(--c12);
  padding: 60px;
  background-image: url(../img/dec/bottom-left.svg);
  background-repeat: no-repeat;
  background-position: bottom 40px left 40px;
}

.orcamento-produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.orcamento-produto label {
  padding: 16px 18px;
  background-color: var(--c10);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  cursor: pointer;
}

.orcamento-produto label:hover {
  background-color: var(--c9);
}

.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-produto
  input:checked
  + label:not([for="nimbus"]):not([for="magic"]):not([for="nebula"]) {
  background-color: var(--w);
  color: var(--c11);
  border: solid 1px var(--c12);
  box-shadow: 0 0 0 2px #ffcc33;
}

.orcamento-produto input#bikcraft:checked ~ #bikcraft {
  display: grid;
}

.orcamento-produto-tipo input#nimbus:checked ~ div#nimbus {
  display: grid;
}

.orcamento-produto-tipo input#magic:checked ~ div#magic {
  display: grid;
}

.orcamento-produto-tipo input#nebula:checked ~ div#nebula {
  display: grid;
}

.orcamento-produto-tipo input:checked + label {
  background-color: var(--w);
  color: var(--c11);
  font-weight: 500;
}

.orcamento-produto-tipo#bikcraft input:checked + label {
  margin-bottom: -20px;
  padding-bottom: 0;
}

.orcamento-produto input#seguro:checked ~ #seguro {
  display: grid;
}

.orcamento-produto span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: grid;
}

.orcamento-produto label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
}

.orcamento-produto label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--c7);
  border-radius: 50%;
  box-sizing: border-box;
}

.orcamento-produto input:checked + label::before {
  box-shadow: inset 0 0 0 3px white, inset 0 0 0 12px var(--c7);
}

.orcamento-produto-tipo {
  display: none;
  gap: 20px;
}

.orcamento-produto-descricao {
  display: none;
  grid-template-columns: max-content 1fr;
  gap: 16px;
  background-color: var(--w);
  padding: 20px 18px 16px 38px;
  margin-top: 20px;
}

.orcamento-produto .produto:has(input:checked) {
  border: solid 1px var(--c12);
  box-shadow: 0 0 0 2px #ffcc33;
}

.orcamento-produto-descricao figure {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 8px;
}

.orcamento-produto-descricao figure img {
  width: 16px;
  height: 16px;
}

.orcamento-produto-descricao figure + figure {
  margin-top: 8px;
}

/* Orçamento Formulário */

.orcamento-formulario {
  background-color: var(--w);
  padding: 60px;
  background-image: url(../img/dec/bottom-right.svg);
  background-repeat: no-repeat;
  background-position: bottom 40px right 40px;
}

.orcamento button {
  margin-bottom: 0;
  width: max-content;
}

.orcamento-formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font: 500 16px/24px "Poppins", sans-serif;
  color: var(--c11);
}

.orcamento-termos {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
}

.orcamento-formulario input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-formulario input[type="checkbox"] + label::before {
  content: "";
  width: 32px;
  height: 32px;
  border: 1px solid var(--c4);
  box-sizing: border-box;
  background-color: var(--c1);
  border-radius: 5px;
}

.orcamento-formulario input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 10px;
  padding-left: 0;
}

.orcamento-formulario input:checked + label::before {
  background: #767676;
  border-color: #656565;
  color: white;
  content: "✓"; /* Símbolo de check */
  font-size: 18px; /* Tamanho do check */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 900;
}
