.plano-bg {
  background-color: var(--c11);
}

.plano {
  background-color: var(--c12);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 32px 32px 32px 62px;
  gap: 0;
}

.plano span {
  grid-column: 2;
  display: block;
  margin-bottom: 8px;
  text-align: right;
}

.plano ul,
.plano a {
  grid-column: 1 / -1;
}

.plano h3 {
  margin-bottom: 40px;
}

.plano li {
  margin-bottom: 20px;
}

.plano li:last-child {
  margin-bottom: 32px;
}

.plano a {
  max-width: max-content;
  margin-bottom: 0;
}

.plano-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
