.seguros-bg {
  background-color: var(--c12);
  background-image: url(../img/dec/bottom-right.svg),
    url(../img/dec/bottom-left.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 40px right 40px, bottom 40px left 40px;
}

h2 {
  font-weight: 600;
}

.seguros-vantagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 40px;
}

.seguros {
  padding-top: 120px;
  padding-bottom: 120px;
}

.seguros h1 {
  margin-bottom: 90px;
}

.seguros dd {
  font-weight: 400;
  margin-left: 20px;
  max-width: 80ch;
}

.seguros button::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--p1);
}

.seguros button::after {
  content: "";
  width: 14px;
  height: 6px;
  background: url(../img/icones/seta-abrir.svg);
}

.seguros button:hover::after {
  transform: rotate(180deg);
  transition: 0.5s;
}

.seguros button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 16px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.seguros dl > div {
  padding: 20px 20px 20px 40px !important;
}

.seguros dl > div:nth-of-type(odd) {
  background-color: var(--c1);
}

.js dd {
  display: none;
}

dd.ativo {
  display: block;
}

.seguros button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
